<h1> Team Index Page </h1>

  <br><% @teams.each do |team| %>
    <p><%= team.city%> <%= team.team_name%>
    <%= link_to "Update #{team.team_name}", "/teams/#{team.id}/edit" %>
  <% end %></br>

  <p><%= link_to "New Team", "/teams/new" %></p>